books{color:#bf20c2;background-color:#cce1f5;width:100%;}

heading{color: #02a0c5;font-size:50px;background-color:#f4fbd2;}

heading,title,author,publisher{display:block;}

title{font-size:30px;font-weight:bold;}
